*{
    margin:0px;
    cursor:crosshair;
}
body{
    background-color: rgb(220,220,220);
}
@media screen and (max-width:850px){
    .hid{
        display:none;
    }
}
@media screen and (min-width:849px){
    .ahid{
        display:none;
    }
}


.ahid{
    width:fit-content;
    margin:auto;
    position:relative;
    top:50vh;
    transform:translate(0,-50%);
    font-size:30px;
    font-weight: bold;
}
#d1{
    width:400px;
    height:400px;
    border:4px black solid;
    border-radius:50%;
    transform:translate(-50%,-50%);
    z-index:5;
}
#centerdiv{
    margin:auto;
    position:relative;
    top:50vh;
    transform:translate(0,-50%);
    width:0px;
    height:0px;
}
#indi{
    position:absolute;
    width:200px;
    height:5px;
    z-index:5;
    border-radius:2px 0px 0px 2px;
    background-color:black;
    transform:translate(-0%,-50%);
}
#indi-roa{
    position:absolute;
    width:0px;
    height:0px;
}
#arrow{
    position:absolute;
    width:400px;
    height:0%;
    transform:translate(-50%,-50%);
    border-top:2px black dashed;
}
#pitch{
    width:10px;
    height:10px;
    position:absolute;
    background-color: black;
    transform:translate(-50%,-50%);
    border-radius:50%;
    z-index:999;
}
#ds{
    /*position:absolute;
    top:30vh;*/
    margin:auto;
    position:relative;
    top:80vh;
    width:fit-content;
    transform:translate(-0%,-50%);
    font-weight: bolder;
    font-size:60px;
}
#c-line{
    position:absolute;
    width:200px;
    height:0px;
    border-top:4px rgb(200, 110, 200) solid;
    z-index: 3;
}
#s-line{
    position:absolute;
    width:0px;
    height:200px;
    border-left:4px rgb(115, 30, 200) solid;
    z-index: -1;
}
#cds{
    position:absolute;
    top:40vh;
    left:75vw;
    transform:translate(0,-50%);
    font-size:50px;
    font-weight:bolder;
    color:rgb(200,100,200);
}
#sds{
    position:absolute;
    top:60vh;
    left:75vw;
    transform:translate(0,-50%);
    font-size:50px;
    font-weight:bolder;
    color:rgb(115, 30, 200);
}
#mov-hint{
    position:absolute;
    bottom:35vh;
    width:max-content;
    font-size:30px;
    transform: translate(-50%,-50%);
}
